<div align="middle">
<div style="color:white;display:inline;">
%h2= "* Select One *"
</div>
<div style="overflow:scroll; height:550px;">
<table>
- @rest.each do |rest|
	<tr>
	<td>
	=link_to rest.name,rest
	</td>
	</tr>
</table>		
</div>
</div>