<h2>Editing review</h2>
<div align="middle">
	<div id="comment_box" style="display:inline-block;">
	<%= render 'form' %>
</div>
<div align="middle">
<%= link_to "<h3><font color='black'>Back</font></h3>".html_safe,user_reviews_path %>
</div>
