<h2>Adding a review</h2>
<div align="middle">
	<div id="comment_box" style="display:inline-block;">
	<%= render 'form' %>
	<%= link_to "Back",controller: "restaurants",action: "show",id: @restid %>
</div>
